{
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSameLine": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "arrowParens": "avoid",
  "singleQuote": true,
  "singleAttributePerLine": true
}
